.photo-grid {
  display: -ms-grid;
  display: grid;
  max-width: 1184px;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 48px;
  margin-right: 48px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 90%;
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    max-width: 93.752%;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 12px;
    width: 90%;
  }
}
