.lead__caption_image {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .lead__caption_image {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .lead__caption_image {
    margin: 0;
  }
}
