.header__logo-icon {
    padding: 0;
    height: 52px;
    width: 176px;
    background-image: url(../../../images/header-logo.svg);
    display: flex;
    align-items: start;
    }

    @media screen and (max-width: 320px) {
        .header__logo-icon {
            height: 42px;
           max-width: 142px;
           background-size: contain;
           
            }
        }